/* ====== BLUE BUTTON ====== */
.button-blue {
    color: white;
    background-color: #1d4ed8; 
    border: none;
    border-radius: 9999px; 
    font-size: 0.875rem; 
    padding: 0.625rem 1.25rem; 
    text-align: center;
    margin-right: 0.5rem; 
    margin-bottom: 0.5rem; 
    transition: background-color 0.3s, box-shadow 0.3s; 
    cursor: pointer;
}

.button-blue:hover {
    background-color: #1e40af; 
}

.button-blue:focus {
    outline: none; 
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5); 
}

/* ====== GREEN BUTTON ====== */
.button-green {
    color: white;
    background-color: #10b981; 
    border: none;
    border-radius: 9999px; 
    font-size: 0.875rem; 
    padding: 0.625rem 1.25rem; 
    text-align: center;
    margin-right: 0.5rem; 
    margin-bottom: 0.5rem; 
    transition: background-color 0.3s, box-shadow 0.3s; 
    cursor: pointer;
}

.button-green:hover {
    background-color: #0ea573; 
}

.button-green:focus {
    outline: none; 
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5); 
}

/* ====== RED BUTTON ====== */

.button-red {
    color: white;
    background-color: #df2320; 
    border: none;
    border-radius: 9999px; 
    font-size: 0.875rem; 
    padding: 0.625rem 1.25rem; 
    text-align: center;
    margin-right: 0.5rem; 
    margin-bottom: 0.5rem; 
    transition: background-color 0.3s, box-shadow 0.3s; 
    cursor: pointer;
}

.button-red:hover {
    background-color: #b70808; 
}

.button-red:focus {
    outline: none; 
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5); 
}